<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/Project_Mining_Zoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# อธิบายข้อมูลทั้งไฟล์

## ไฟล์ข้อมูล zoo ประกอบไปด้วย 101 แถว และ 18 คอลัม คือ ชื่อสัตว์ทั้งหมด 101 ชนิด และประกอบไปด้วยลักษณะทั้งหมด 16 แบบ ได้แก่
- Hair(ผม)
- Feathers(ขน) 
- eggs(ไข่)
- milk(นม)
- airborne(ในอากาศ)
- aquatic(ในน้ำ)
- predator(นักล่า)
- toothed(ฟัน)
- backbone(กระดูกสันหลัง) 
- breathes(ใช้จมูกหายใจ)
- venomous(มีพิษ) 
- fins(ครีบ)
- legs(ขา)
- tail(หาง)
- domestic(ในประเทศ)
- catsize(ใบหู)

## ไฟล์ข้อมูล class ประกอบไปด้วย 7 แถว 4 คอลัม และมีคอลัม Class_Type	ที่จะบอกถึงสัตว์ทั้ง 7 ประเภท ได้แก่ 
- Mammal(สัตว์เลี้ยงลูกด้วยนม)
- Bird(​นก)
- (Reptile)สัตว์เลื้อยคลาน
- (Fish)ปลา 
- (Amphibian)สัตว์สะเทินน้ำสะเทินบก 
- (Bug)แมลง
- (Invertebrate)สัตว์ไม่มีกระดูกสันหลัง​

In [4]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/My Drive/DataMining_Project'

In [6]:
import os
import pandas as pd
zoo_type = os.path.join(path,'zoo.csv')  
class_type = os.path.join(path,'class.csv')
zoo_type_df = pd.read_csv(zoo_type)
class_type_df = pd.read_csv(class_type)

In [7]:
zoo_type_df.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [8]:
zoo_type_df.shape

(101, 18)

In [9]:
class_type_df

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad
5             6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6             7  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[7 rows x 4 columns]

In [10]:
class_type_df.shape

(7, 4)

# ทำการเเตรียมข้อมูล

In [11]:
from pandas.api.types import CategoricalDtype

###แบ่งกลุ่มลักษณะของสัตว์ทั้งหมด 16 ลักษณะ จากไฟล์ข้อมูล zoo_type_df

In [12]:
zoo_type1 = zoo_type_df

In [13]:
h_bucket = ['nohair','hair']
zoo_type1['hair_group'] = pd.cut(zoo_type1.hair,
                            bins=[0,1,2],
                            labels=h_bucket,
                            right=False).astype(str).astype(CategoricalDtype(h_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  eggs  ...  domestic  catsize  class_type  hair_group
0      aardvark     1         0     0  ...         0        1           1        hair
1      antelope     1         0     0  ...         0        1           1        hair
2          bass     0         0     1  ...         0        0           4      nohair
3          bear     1         0     0  ...         0        1           1        hair
4          boar     1         0     0  ...         0        1           1        hair
..          ...   ...       ...   ...  ...       ...      ...         ...         ...
96      wallaby     1         0     0  ...         0        1           1        hair
97         wasp     1         0     1  ...         0        0           6        hair
98         wolf     1         0     0  ...         0        1           1        hair
99         worm     0         0     1  ...         0        0           7      nohair
100        wren     0         1     1  ...         0        0           2      nohair

[101 rows x 19 columns]

In [14]:
f_bucket = ['nofeathers','feathers']
zoo_type1['feathers_group'] = pd.cut(zoo_type1.feathers,
                            bins=[0,1,2],
                            labels=f_bucket,
                            right=False).astype(str).astype(CategoricalDtype(f_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  class_type  hair_group  feathers_group
0      aardvark     1         0  ...           1        hair      nofeathers
1      antelope     1         0  ...           1        hair      nofeathers
2          bass     0         0  ...           4      nohair      nofeathers
3          bear     1         0  ...           1        hair      nofeathers
4          boar     1         0  ...           1        hair      nofeathers
..          ...   ...       ...  ...         ...         ...             ...
96      wallaby     1         0  ...           1        hair      nofeathers
97         wasp     1         0  ...           6        hair      nofeathers
98         wolf     1         0  ...           1        hair      nofeathers
99         worm     0         0  ...           7      nohair      nofeathers
100        wren     0         1  ...           2      nohair        feathers

[101 rows x 20 columns]

In [15]:
e_bucket = ['noeggs','eggs']
zoo_type1['eggs_group'] = pd.cut(zoo_type1.eggs,
                            bins=[0,1,2],
                            labels=e_bucket,
                            right=False).astype(str).astype(CategoricalDtype(e_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  hair_group  feathers_group  eggs_group
0      aardvark     1         0  ...        hair      nofeathers      noeggs
1      antelope     1         0  ...        hair      nofeathers      noeggs
2          bass     0         0  ...      nohair      nofeathers        eggs
3          bear     1         0  ...        hair      nofeathers      noeggs
4          boar     1         0  ...        hair      nofeathers      noeggs
..          ...   ...       ...  ...         ...             ...         ...
96      wallaby     1         0  ...        hair      nofeathers      noeggs
97         wasp     1         0  ...        hair      nofeathers        eggs
98         wolf     1         0  ...        hair      nofeathers      noeggs
99         worm     0         0  ...      nohair      nofeathers        eggs
100        wren     0         1  ...      nohair        feathers        eggs

[101 rows x 21 columns]

In [16]:
m_bucket = ['nomilk','milk']
zoo_type1['milk_group'] = pd.cut(zoo_type1.milk,
                            bins=[0,1,2],
                            labels=m_bucket,
                            right=False).astype(str).astype(CategoricalDtype(m_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  feathers_group  eggs_group  milk_group
0      aardvark     1         0  ...      nofeathers      noeggs        milk
1      antelope     1         0  ...      nofeathers      noeggs        milk
2          bass     0         0  ...      nofeathers        eggs      nomilk
3          bear     1         0  ...      nofeathers      noeggs        milk
4          boar     1         0  ...      nofeathers      noeggs        milk
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      nofeathers      noeggs        milk
97         wasp     1         0  ...      nofeathers        eggs      nomilk
98         wolf     1         0  ...      nofeathers      noeggs        milk
99         worm     0         0  ...      nofeathers        eggs      nomilk
100        wren     0         1  ...        feathers        eggs      nomilk

[101 rows x 22 columns]

In [17]:
a_bucket = ['noairborne','airborne']
zoo_type1['airborne_group'] = pd.cut(zoo_type1.airborne,
                            bins=[0,1,2],
                            labels=a_bucket,
                            right=False).astype(str).astype(CategoricalDtype(a_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  eggs_group  milk_group  airborne_group
0      aardvark     1         0  ...      noeggs        milk      noairborne
1      antelope     1         0  ...      noeggs        milk      noairborne
2          bass     0         0  ...        eggs      nomilk      noairborne
3          bear     1         0  ...      noeggs        milk      noairborne
4          boar     1         0  ...      noeggs        milk      noairborne
..          ...   ...       ...  ...         ...         ...             ...
96      wallaby     1         0  ...      noeggs        milk      noairborne
97         wasp     1         0  ...        eggs      nomilk        airborne
98         wolf     1         0  ...      noeggs        milk      noairborne
99         worm     0         0  ...        eggs      nomilk      noairborne
100        wren     0         1  ...        eggs      nomilk        airborne

[101 rows x 23 columns]

In [18]:
a_bucket = ['noaquatic','aquatic']
zoo_type1['aquatic_group'] = pd.cut(zoo_type1.aquatic,
                            bins=[0,1,2],
                            labels=a_bucket,
                            right=False).astype(str).astype(CategoricalDtype(a_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  milk_group  airborne_group  aquatic_group
0      aardvark     1         0  ...        milk      noairborne      noaquatic
1      antelope     1         0  ...        milk      noairborne      noaquatic
2          bass     0         0  ...      nomilk      noairborne        aquatic
3          bear     1         0  ...        milk      noairborne      noaquatic
4          boar     1         0  ...        milk      noairborne      noaquatic
..          ...   ...       ...  ...         ...             ...            ...
96      wallaby     1         0  ...        milk      noairborne      noaquatic
97         wasp     1         0  ...      nomilk        airborne      noaquatic
98         wolf     1         0  ...        milk      noairborne      noaquatic
99         worm     0         0  ...      nomilk      noairborne      noaquatic
100        wren     0         1  ...      nomilk        airborne      noaquatic

[101 rows x 24 columns]

In [19]:
p_bucket = ['nopredator','predator']
zoo_type1['predator_group'] = pd.cut(zoo_type1.predator,
                            bins=[0,1,2],
                            labels=p_bucket,
                            right=False).astype(str).astype(CategoricalDtype(p_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  airborne_group  aquatic_group  predator_group
0      aardvark     1         0  ...      noairborne      noaquatic        predator
1      antelope     1         0  ...      noairborne      noaquatic      nopredator
2          bass     0         0  ...      noairborne        aquatic        predator
3          bear     1         0  ...      noairborne      noaquatic        predator
4          boar     1         0  ...      noairborne      noaquatic        predator
..          ...   ...       ...  ...             ...            ...             ...
96      wallaby     1         0  ...      noairborne      noaquatic      nopredator
97         wasp     1         0  ...        airborne      noaquatic      nopredator
98         wolf     1         0  ...      noairborne      noaquatic        predator
99         worm     0         0  ...      noairborne      noaquatic      nopredator
100        wren     0         1  ...        airborne      noaquatic      nopredator

[101 rows x 25 columns]

In [20]:
t_bucket = ['notoothed','toothed']
zoo_type1['toothed_group'] = pd.cut(zoo_type1.toothed,
                            bins=[0,1,2],
                            labels=t_bucket,
                            right=False).astype(str).astype(CategoricalDtype(t_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  aquatic_group  predator_group  toothed_group
0      aardvark     1         0  ...      noaquatic        predator        toothed
1      antelope     1         0  ...      noaquatic      nopredator        toothed
2          bass     0         0  ...        aquatic        predator        toothed
3          bear     1         0  ...      noaquatic        predator        toothed
4          boar     1         0  ...      noaquatic        predator        toothed
..          ...   ...       ...  ...            ...             ...            ...
96      wallaby     1         0  ...      noaquatic      nopredator        toothed
97         wasp     1         0  ...      noaquatic      nopredator      notoothed
98         wolf     1         0  ...      noaquatic        predator        toothed
99         worm     0         0  ...      noaquatic      nopredator      notoothed
100        wren     0         1  ...      noaquatic      nopredator      notoothed

[101 rows x 26 columns]

In [21]:
b_bucket = ['nobackbone','backbone']
zoo_type1['backbone_group'] = pd.cut(zoo_type1.backbone,
                            bins=[0,1,2],
                            labels=b_bucket,
                            right=False).astype(str).astype(CategoricalDtype(b_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  predator_group  toothed_group  backbone_group
0      aardvark     1         0  ...        predator        toothed        backbone
1      antelope     1         0  ...      nopredator        toothed        backbone
2          bass     0         0  ...        predator        toothed        backbone
3          bear     1         0  ...        predator        toothed        backbone
4          boar     1         0  ...        predator        toothed        backbone
..          ...   ...       ...  ...             ...            ...             ...
96      wallaby     1         0  ...      nopredator        toothed        backbone
97         wasp     1         0  ...      nopredator      notoothed      nobackbone
98         wolf     1         0  ...        predator        toothed        backbone
99         worm     0         0  ...      nopredator      notoothed      nobackbone
100        wren     0         1  ...      nopredator      notoothed        backbone

[101 rows x 27 columns]

In [22]:
b_bucket = ['nobreathes','breathes']
zoo_type1['breathes_group'] = pd.cut(zoo_type1.breathes,
                            bins=[0,1,2],
                            labels=b_bucket,
                            right=False).astype(str).astype(CategoricalDtype(b_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  toothed_group  backbone_group  breathes_group
0      aardvark     1         0  ...        toothed        backbone        breathes
1      antelope     1         0  ...        toothed        backbone        breathes
2          bass     0         0  ...        toothed        backbone      nobreathes
3          bear     1         0  ...        toothed        backbone        breathes
4          boar     1         0  ...        toothed        backbone        breathes
..          ...   ...       ...  ...            ...             ...             ...
96      wallaby     1         0  ...        toothed        backbone        breathes
97         wasp     1         0  ...      notoothed      nobackbone        breathes
98         wolf     1         0  ...        toothed        backbone        breathes
99         worm     0         0  ...      notoothed      nobackbone        breathes
100        wren     0         1  ...      notoothed        backbone        breathes

[101 rows x 28 columns]

In [23]:
v_bucket = ['novenomous','venomous']
zoo_type1['venomous_group'] = pd.cut(zoo_type1.venomous,
                            bins=[0,1,2],
                            labels=v_bucket,
                            right=False).astype(str).astype(CategoricalDtype(v_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  backbone_group  breathes_group  venomous_group
0      aardvark     1         0  ...        backbone        breathes      novenomous
1      antelope     1         0  ...        backbone        breathes      novenomous
2          bass     0         0  ...        backbone      nobreathes      novenomous
3          bear     1         0  ...        backbone        breathes      novenomous
4          boar     1         0  ...        backbone        breathes      novenomous
..          ...   ...       ...  ...             ...             ...             ...
96      wallaby     1         0  ...        backbone        breathes      novenomous
97         wasp     1         0  ...      nobackbone        breathes        venomous
98         wolf     1         0  ...        backbone        breathes      novenomous
99         worm     0         0  ...      nobackbone        breathes      novenomous
100        wren     0         1  ...        backbone        breathes      novenomous

[101 rows x 29 columns]

In [24]:
f_bucket = ['nofins','fins']
zoo_type1['fins_group'] = pd.cut(zoo_type1.	fins,
                            bins=[0,1,2],
                            labels=f_bucket,
                            right=False).astype(str).astype(CategoricalDtype(f_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  breathes_group  venomous_group  fins_group
0      aardvark     1         0  ...        breathes      novenomous      nofins
1      antelope     1         0  ...        breathes      novenomous      nofins
2          bass     0         0  ...      nobreathes      novenomous        fins
3          bear     1         0  ...        breathes      novenomous      nofins
4          boar     1         0  ...        breathes      novenomous      nofins
..          ...   ...       ...  ...             ...             ...         ...
96      wallaby     1         0  ...        breathes      novenomous      nofins
97         wasp     1         0  ...        breathes        venomous      nofins
98         wolf     1         0  ...        breathes      novenomous      nofins
99         worm     0         0  ...        breathes      novenomous      nofins
100        wren     0         1  ...        breathes      novenomous      nofins

[101 rows x 30 columns]

In [25]:
l_bucket = ['nolegs','2legs','4legs','6legs','8legs']
zoo_type1['legs_group'] = pd.cut(zoo_type1.	legs,
                            bins=[0,2,4,6,7,9],
                            labels=l_bucket,
                            right=False).astype(str).astype(CategoricalDtype(l_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  venomous_group  fins_group  legs_group
0      aardvark     1         0  ...      novenomous      nofins       4legs
1      antelope     1         0  ...      novenomous      nofins       4legs
2          bass     0         0  ...      novenomous        fins      nolegs
3          bear     1         0  ...      novenomous      nofins       4legs
4          boar     1         0  ...      novenomous      nofins       4legs
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      novenomous      nofins       2legs
97         wasp     1         0  ...        venomous      nofins       6legs
98         wolf     1         0  ...      novenomous      nofins       4legs
99         worm     0         0  ...      novenomous      nofins      nolegs
100        wren     0         1  ...      novenomous      nofins       2legs

[101 rows x 31 columns]

In [26]:
t_bucket = ['notail','tail']
zoo_type1['tail_group'] = pd.cut(zoo_type1.tail,
                            bins=[0,2,4,6,7,9],
                            labels=t_bucket,
                            right=False).astype(str).astype(CategoricalDtype(t_bucket,ordered=True))
zoo_type1

ValueError: ignored

### เนื่องจากคอลัมลักษณะ tail Error Input array must be 1 dimensional จึงทำการวนลูปค่า

In [ ]:
for i in range(len(zoo_type1)):
  print(zoo_type1['tail'][i])

In [ ]:
for i in range(len(zoo_type1)):
  if zoo_type1['tail'][i] == 0:
    zoo_type1['tail_group'] = 'notail'
  else:
    zoo_type1['tail_group'] = 'tail'

In [ ]:
d_bucket = ['nodomestic','domestic']
zoo_type1['domestic_group'] = pd.cut(zoo_type1.domestic,
                            bins=[0,1,2],
                            labels=d_bucket,
                            right=False).astype(str).astype(CategoricalDtype(d_bucket,ordered=True))
zoo_type1

In [ ]:
c_bucket = ['nocatsize','catsize']
zoo_type1['catsize_group'] = pd.cut(zoo_type1.catsize,
                            bins=[0,1,2],
                            labels=c_bucket,
                            right=False).astype(str).astype(CategoricalDtype(c_bucket,ordered=True))
zoo_type1

# Association ของแต่ละลักษณะ

In [ ]:
!pip install apyori
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

In [ ]:
zoo_type1

### ทำการดึงตารางที่ต้องการออกมาให้อยู่ในตัวแปร zoo_type2

In [ ]:
zoo_type2 = zoo_type1[['animal_name','hair_group','feathers_group', 'eggs_group', 'milk_group', 'airborne_group', 'aquatic_group', 'predator_group', 'toothed_group', 'backbone_group', 'breathes_group', 'venomous_group', 'fins_group', 'legs_group','tail_group', 'domestic_group', 'catsize_group' ]]
zoo_type2

In [ ]:
zoo_type2.isnull().any().any()

In [ ]:
#Convert data to list
transacs = []
for i in range(0,len(zoo_type2)):
  transacs.append([str(zoo_type2.values[i,j]) for j in range(1,17)])
transacs

In [ ]:
asso = list(apriori(transacs,min_support = 0.8, min_confidence = 0.7))
asso

# ทำ KNN

## เตรียมข้อมูลเพื่อทำ Dessicion Tree และ KNN

In [ ]:
animal = zoo_type_df  
animal.head()

### ทำการตรวจสอบค่า Missing

In [ ]:
#ตรวจสอบว่ามีค่า null หรือไม่
animal.isnull().any()

### ร่วมตาราง animal และตาราง class เข้าด้วยกัน โดยกำหนดตาราง class_type_df ให้อยู่ในตัวแปรที่ชื่อ ani_class 
### - หลังจากนั้นทำการตั้งชื่อตัวแปร df เพื่อ merge ตาราง animal และ ani_class เข้าด้วยกันโดยมีคีย์ คือ class_type และ Class_Number

In [ ]:
ani_class = class_type_df 
df = pd.merge(animal,ani_class,how='left',left_on='class_type',right_on='Class_Number')
df.head()

##  ทำการเรียกใช้ฟังก์ชั่น seaborn.factorplot เพื่อพล็อตจำนวน class_type แต่ละประเภท

In [ ]:
sns.factorplot('Class_Type', data=df, kind="count",size = 6,aspect = 3)

In [ ]:
from sklearn.model_selection import train_test_split

### ทำการแบ่ง train และ test ออกเป็น 80/20

### - กำหนดค่า X โดยเรียกใช้ตาราง animal และใช้คำสั่ง .iloc ให้เอา
### - กำหนดค่า y โดยเรียกใช้ตาราง animal และใช้คำสั่ง .iloc ให้เอา
### - เราจะส่ง X และ y ไปให้ฟังก์ชั่น train_test_split นี้ พร้อมกับกำหนด 
*   test_size คือ ขนาดอัตราส่วนของข้อมูลกลุ่ม test ต่อข้อมูลกลุ่ม train ในที่นี้เท่ากับ 0.2 คือ จะได้ข้อมูลกลุ่ม test 30 samples และข้อมูลกลุ่ม train 120 samples
*  random_state คือ ค่า seed ที่กำหนดการ random กลุ่มข้อมูล จะเป็นเลขจำนวนเต็ม ถ้ากำหนดเลขเดิม ผลการ split ก็เหมือนเดิม
*  stratify คือ การกำหนดการกระจายของข้อมูลที่ split ให้มีการกระจายเหมือน original dataset

In [ ]:
X = df.iloc[:,1:17]
y = df.iloc[:,17]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

# K-Nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

### Define นิยามว่าโมเดลจะหน้าตาเป็นแบบไหน คือ k เป็นเท่าไหร่ โหวตยังไง วัดระยะอย่างไร

In [ ]:
myKNN = KNeighborsClassifier(n_neighbors=3)

### ทำการ Train (fit) เพื่อสร้างโมเดล

In [ ]:
myKNN.fit(X_train,y_train)

### ทำการ Test โดยใช้คำสั่ง .predict ทำนายตัวที่ใกล้สุด

In [ ]:
myKNN.predict(X_test)

### ใช้คำสั่ง .predict_proba เป็นการคำนวณความน่าจะเป็นว่าจะอยู่กลุ่มไหน

In [27]:
myKNN.predict_proba(X_test)

NameError: ignored

In [ ]:
cross_val_score(myKNN, X_train, y_train, cv=10).mean()